
h1, h2 {
    text-align: center;
    text-decoration: underline;
}

.page {
    padding: 20px;
}

.new-expense {
    text-align: left;
    font-size: 0.8em;
    padding: 0.3em;
    word-spacing: 3px;
    margin-bottom: 1em;
    background: #fafafa;
}

