.page {
    padding: 30px;
}

.header {
    padding: 20px;
}

.modal {
    position: absolute;
    top: 20%;
    left: 17%;
}

.new-expense {
    text-align: left;
    font-size: 0.8em;
    padding: 0.3em;
    word-spacing: 3px;
    margin-bottom: 1em;
    background: #fafafa;
}
