{% extends "layout.html" %}
{% block title %}Initialize Expenses Database{% endblock %}
{% block content %}
  <h1>Show Data</h1>
    <div class=page>
    <div class=new-expense>
      <form id='display-data' method='post' action='/initialize' >
      Enter the following information to initialize the expense tracker (multiple items separated by commas):<br>
      (this information can be updated later)
        <p>
        Names of users:
          <input type='text' name='persons' />
        Categories of expenses:
        <input type='text' name='categories' />
        <br>
        <input type='submit' value='Submit' />
      </p>
      </form>
    </div>
    </div>
{% endblock %}
