
<script type="text/javascript">
function checkAdd() {

  var selectedOption = $("select[name=category] option:selected").text();

  if (selectedOption === 'Add Category')
    $("#new_category").show();

  else
    $("#new_category").hide();
}
</script>

{% extends "layout.html" %}
{% block title %}Submit{% endblock %}
{% block content %}
    <script type="text/javascript">
      $("#submit-nav").addClass("active");
    </script>
  <div class=page>
    <div class=new-expense>

      <form id='new_expense_form' method='post' action='submit_expense' >
      <div class="row">
        <div class="col-md-6">
          <label>Person</label>
          <select name='person' class="form-control">
          {% for person in persons %}
              <option value='{{ person }}'>{{ person.capitalize() }}</option>
          {% endfor %}
          </select>
        </div>
        <div class="col-md-6">
          <label>Category</label>
          <select name='category' class="form-control" onChange='checkAdd()'>
          {% for category in categories %}
              <option value='{{ category }}'>{{ category.capitalize() }}</option>
          {% endfor %}
              <option value='add_category'>Add Category</option>
        </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <lable>Date</label>
          <input type='date' name='expense_date'  id='expense_date' class="form-control"/>
        </div>
        <div class="col-md-6">
          <label>Amount</label>
          <input type='number' min='0.01' step='0.01' name='amount' class="form-control"/>
        </div>
      </div>
       <div class="row">
        <div class="col-md-12">
          <label>Description</label>
          <input type='text' name='description' class="form-control"/>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <input type='submit' id="submit-form" value='Submit' class="btn btn-primary"/>
        </div>
      </div>


      </form>
       <form hidden id='new_category' method='post' action='add_category'>
        <hr>
          <label>New</label>
          <input type='text' name='category_name' class="form-control">
          <br>
          <input type='submit' class="btn btn-primary" value='Add'>
        </form>

    </div>
  </div>

  <script type="text/javascript">

    $('#expense_date')[0].valueAsDate = new Date();

  </script>

{% endblock %}
