{% extends "layout.html" %}
{% block title %}Visualize Data{% endblock %}
{% block content %}

  <script type="text/javascript" src="{{ url_for('static', filename='expenses_charts.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>

  <script type="text/javascript">
    function reloadStylesheets() {
      var queryString = '?reload=' + new Date().getTime();
      $('link[rel="stylesheet"]').each(function () {
          this.href = this.href.replace(/\?.*|$/, queryString);
      });
    }
  </script>

  <div class="page">
  <h1>Visualize Data</h1>

    <div id="chart-options">
      <div class="form-group">

        <div class="row">

          <div class="col-md-5 col-md-offset-1">
            <label>Chart Type:</label>
            <select name="chart_type" class="form-control">
              <option value="pie">Pie</option>
              <option value="bar">Bar</option>
              <option value="line">Line</option>
            </select>
          </div>

          <div class="col-md-6 dropdown">
            <label>Display By:</label><br>
            <select name="display">
              <option value="category" selected="selected">Category</option>
              <option value="person">Person</option>
              <option value="year">Year</option>
              <option value="month">Month</option>
              <option value="week">Week</option>
              <option value="day">Day</option>
            </select>
          </div>

        </div>
        <hr>

        <div id="filter_rows">
        <div id="filters-1">
          <div class="row">

            <div class="col-md-5 col-md-offset-1">
              <label>Start Date:</label>
              <input type="date" name="date_from_1" class="form-control">
            </div>

            <div class="col-md-6">
              <label>End Date:</label>
              <input type="date" name="date_to_1" class="form-control">
            </div>

          </div>
          <br>
          <div class="row">

            <div class="col-md-1">
              <br><br>
              <p>
              <button id="more-data-1">+</button>
              </p>
            </div>

            <div class="col-md-5">
              <label>Categories:</label><br>
              <select name="categories_chosen_1" multiple>
                {% for category in categories%}
                  <option value="{{ category }}">{{ category.capitalize() }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="col-md-6">
              <label>Persons:</label><br>
              <select name="persons_chosen_1" multiple>
                {% for person in persons%}
                  <option value="{{ person }}">{{ person.capitalize() }}</option>
                {% endfor %}
              </select>
            </div>

          </div> 
          <hr>   
          </div>

        <div id="filters-2" hidden>
          <div class="row">

            <div class="col-md-5 col-md-offset-1">
              <label>Start Date:</label>
              <input type="date" name="date_from_2" class="form-control">
            </div>

            <div class="col-md-6">
              <label>End Date:</label>
              <input type="date" name="date_to_2" class="form-control">
            </div>

          </div>
          <br>
          <div class="row">

            <div class="col-md-1">
              <br><br>
              <p>
              <button id="more-data-2">+</button>
              <button id="less-data-2">-</button>
              </p>
            </div>

            <div class="col-md-5">
              <label>Categories:</label><br>
              <select name="categories_chosen_2" multiple>
                {% for category in categories%}
                  <option value="{{ category }}">{{ category.capitalize() }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="col-md-6">
              <label>Persons:</label><br>
              <select name="persons_chosen_2" multiple>
                {% for person in persons%}
                  <option value="{{ person }}">{{ person.capitalize() }}</option>
                {% endfor %}
              </select>
            </div>

          </div> 
          <hr>   
          </div>

          <div id="filters-3" hidden>
          <div class="row">

            <div class="col-md-5 col-md-offset-1">
              <label>Start Date:</label>
              <input type="date" name="date_from_3" class="form-control">
            </div>

            <div class="col-md-6">
              <label>End Date:</label>
              <input type="date" name="date_to_3" class="form-control">
            </div>

          </div>
          <br>
          <div class="row">

            <div class="col-md-1">
              <br><br>
              <p>
              <button id="more-data-3">+</button>
              <button id="less-data-3">-</button>
              </p>
            </div>

            <div class="col-md-5">
              <label>Categories:</label><br>
              <select name="categories_chosen_3" multiple>
                {% for category in categories%}
                  <option value="{{ category }}">{{ category.capitalize() }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="col-md-6">
              <label>Persons:</label><br>
              <select name="persons_chosen_3" multiple>
                {% for person in persons%}
                  <option value="{{ person }}">{{ person.capitalize() }}</option>
                {% endfor %}
              </select>
            </div>

          </div> 
          <hr>   
          </div>
          
          <div id="filters-4" hidden>
          <div class="row">

            <div class="col-md-5 col-md-offset-1">
              <label>Start Date:</label>
              <input type="date" name="date_from_4" class="form-control">
            </div>

            <div class="col-md-6">
              <label>End Date:</label>
              <input type="date" name="date_to_4" class="form-control">
            </div>

          </div>
          <br>
          <div class="row">

            <div class="col-md-1">
              <br><br>
              <p>
              <button id="more-data-4">+</button>
              <button id="less-data-4">-</button>
              </p>
            </div>

            <div class="col-md-5">
              <label>Categories:</label><br>
              <select name="categories_chosen_4" multiple>
                {% for category in categories%}
                  <option value="{{ category }}">{{ category.capitalize() }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="col-md-6">
              <label>Persons:</label><br>
              <select name="persons_chosen_4" multiple>
                {% for person in persons%}
                  <option value="{{ person }}">{{ person.capitalize() }}</option>
                {% endfor %}
              </select>
            </div>

          </div> 
          <hr>   
          </div>

          <div id="filters-5" hidden>
          <div class="row">

            <div class="col-md-5 col-md-offset-1">
              <label>Start Date:</label>
              <input type="date" name="date_from_5" class="form-control">
            </div>

            <div class="col-md-6">
              <label>End Date:</label>
              <input type="date" name="date_to_5" class="form-control">
            </div>

          </div>
          <br>
          <div class="row">

            <div class="col-md-1">
              <br><br>
              <p>
              <button id="less-data-5">-</button>
              </p>
            </div>

            <div class="col-md-5">
              <label>Categories:</label><br>
              <select name="categories_chosen_5" multiple>
                {% for category in categories%}
                  <option value="{{ category }}">{{ category.capitalize() }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="col-md-6">
              <label>Persons:</label><br>
              <select name="persons_chosen_5" multiple>
                {% for person in persons%}
                  <option value="{{ person }}">{{ person.capitalize() }}</option>
                {% endfor %}
              </select>
            </div>

          </div> 
          <hr>   
          </div>

        </div>
        <div class="row">
          <div class="col-md-1">
            <br>
            <button class="btn btn-primary" id="submit-button">Update</button>
          </div>
        </div>
      </div>
    </div>
    <div id="canvas-container">
      <canvas id="all-data" width="600" height="400"></canvas>
    </div>

    <script type="text/javascript">
        var canvas = document.getElementById("all-data").getContext("2d");

        var aggregatedData = {{data|tojson}};
        var categories = {{categories|tojson}};
        var persons = {{persons|tojson}};

        for (var i = 0; i < aggregatedData.length; i++) {
          aggregatedData[i].date = new Date(aggregatedData[i].date);
        }

        var mainChart = drawCharts(aggregatedData, "{{chartType}}", ["{{dateFrom}}"], ["{{dateTo}}"], [{{categoriesSelected|tojson}}], [{{personsSelected|tojson}}], "{{display}}");

        $("#submit-button").on("click", function() {
            updateCharts(aggregatedData, categories, persons, mainChart);
        });

        $("#more-data-1").on("click", function() {
          $("#filters-2").show();
          $("#more-data-1").hide();
        });

        $("#more-data-2").on("click", function() {
          $("#filters-3").show();
          $("#less-data-2").hide();
          $("#more-data-2").hide();
        });

        $("#more-data-3").on("click", function() {
          $("#filters-4").show();
          $("#less-data-3").hide();
          $("#more-data-3").hide();
        });

        $("#more-data-4").on("click", function() {
          $("#filters-5").show();
          $("#less-data-4").hide();
          $("#more-data-4").hide();
        });

        $("#less-data-2").on("click", function() {
          $("#filters-2").hide();
          $("#more-data-1").show();
        });

        $("#less-data-3").on("click", function() {
          $("#filters-3").hide();
          $("#more-data-2").show();
          $("#less-data-2").show();
        });

        $("#less-data-4").on("click", function() {
          $("#filters-4").hide();
          $("#more-data-3").show();
          $("#less-data-3").show();
        });

        $("#less-data-5").on("click", function() {
          $("#filters-5").hide();
          $("#more-data-4").show();
          $("#less-data-4").show();
        });

        $(document).ready(function() {
          $("select[name='categories_chosen_1']").multiselect();
          $("select[name='categories_chosen_2']").multiselect();
          $("select[name='categories_chosen_3']").multiselect();
          $("select[name='categories_chosen_4']").multiselect();
          $("select[name='categories_chosen_5']").multiselect();
          $("select[name='persons_chosen_1']").multiselect();
          $("select[name='persons_chosen_2']").multiselect();
          $("select[name='persons_chosen_3']").multiselect();
          $("select[name='persons_chosen_4']").multiselect();
          $("select[name='persons_chosen_5']").multiselect();

          $("select[name='display']").multiselect();
        });

        function upperCaseFirstLetter(string) {
            return string.charAt(0).toUpperCase() + string.slice(1);
        }
    </script>

  </div>


{% endblock %}
