{% extends "layout.html" %}
{% block title %}Visualize Data{% endblock %}
{% block content %}

  <link href='http://fonts.googleapis.com/css?family=Oxygen:300' rel='stylesheet' type='text/css'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='expenses_charts.js') }}"></script>

  <div class="page">
  <h1>Visualize Data</h1>

    <div id="chart-options">
      <form method="post" action="visualize">
      Chart Type:
        <select name="chart_type">
          <option value="pie">Pie</option>
          <option value="line">Line</option>
        </select>
        Date Range:
        <input type="date" name="date_from">
        <input type="date" name="date_to">
        <br>
        Categories:
        <select name="categories_chosen" multiple>
          <option value="all">Select All</option>
          {% for category in categories%}
            <option value="{{ category }}">{{ category.capitalize() }}</option>
          {% endfor %}
        </select>
        Persons:
        <select name="persons_chosen" multiple>
          <option value="all">Select All</option>
          {% for person in persons%}
            <option value="{{ person }}">{{ person.capitalize() }}</option>
          {% endfor %}
        </select>
        Display By:
        <select name="display">
          <option value="category">Category</option>
          <option value="person">Person</option>
          <option value="year">Year</option>
          <option value="month">Month</option>
          <option value="week">Week</option>
          <option value="day">Day</option>
        </select>
        <input type="submit" name="submit">
      </form>
    </div>

    <canvas id="all-data" width="600" height="400"></canvas>

    <script type="text/javascript">
      var canvas = document.getElementById("all-data").getContext("2d");

      var aggregatedData = {{data|tojson}};
      var categoriesChosen = {{categoriesSelected|tojson}};
      var personsChosen = {{personsSelected|tojson}};
      console.log(categoriesChosen);
      for (var i = 0; i < aggregatedData.length; i++) {
        aggregatedData[i].date = new Date(aggregatedData[i].date);
      }
  
      drawCharts(aggregatedData, "{{chartType}}", "{{dateFrom}}", "{{dateTo}}", categoriesChosen, personsChosen, "{{display}}");

    </script>

  </div>


{% endblock %}
